.FormsContainer {
    display: flex;
    align-items: center;
    height: 190vh !important;
    background: radial-gradient(55.65% 50% at 50% 42%, rgba(124, 0, 222, 0.40) 4%, rgba(74, 12, 123, 0.40) 24%, rgba(49, 17, 73, 0.40) 41.5%, rgba(36, 20, 48, 0.40) 55.5%, rgba(24, 23, 24, 0.40) 69.5%);

    ;
}

@media (min-width: 1238px) {
    .FormsContainer {
        height: 90vh;
    }
}

@media(width: 820px) {
    .FormsContainer {
        margin-left: 47vh;
    }

}